section#developers {
    grid-gap: 10px;
    display: grid;
}

section#developers div#person {
    /* background: var(--secondary-bg-color); */
}

section#developers div#left {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "port desc";
    grid-gap: 10px;
}

section#developers div#right {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "desc port"
    "links port";
    grid-gap: 10px;
    text-align: end;
    
}

section#developers img#portrait {
    grid-area: port;
    display: block;
    width: 100%;
}

section#developers div#description {
    grid-area: desc;
    padding: 10px;
}

section#developers div#links {
    align-self: end;
    justify-self: center;
}

