* {
    /* Variables */
    --main-bg-color: #282828;
    --secondary-bg-color: #171717;
    --accent-color: #017e82;

    padding: 0;
    margin: 0;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;

    /* text-rendering: optimizeLegibility; */
    font-weight: 300;
    font-size: 18px;
}

h1 {
    text-transform: uppercase;
    font-weight: 100;
    padding: 0;
    margin-left: 200px;
    font-size: 60px;
}

h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
}

h3 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    text-align: justify;
    display: grid;
}

/* Links */
a {
    text-decoration: none;    
    color: white;
}

a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }

    tr {
        display: grid;
        grid-template-columns: 1fr;
    }
}