:root\ {
    font-size: 10px;    
}

* {
    /* Variables */
    --main-bg-color: #282828;
    --secondary-bg-color: #171717;
    --accent-color: #017e82;

    padding: 0;
    margin: 0;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;

    /* text-rendering: optimizeLegibility; */
    font-weight: 300;
    font-size: 1.15rem;

    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    font-weight: 100;
    padding: 0;
    margin-left: 200px;
    font-size: 4rem;
}

h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    text-align: justify;
    table-layout: fixed;
    width: 100%;
}

tr, td {

}

img {
    max-width: 100%;
}

/* Links */
a {
    text-decoration: none;    
    color: white;
}

a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }

    tr {
        display: grid;
        grid-template-columns: 1fr;
    }
}