section#project {
    display: grid;
    grid-gap: 10px;
}

/* Overview */
section#project div#overview{
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "logo links"
    "logo desc";
    grid-gap: 10px;
}

section#project div#projectlogo{
    grid-area: logo;
    align-self: center;
}

section#project div#projectlogo img{
    width: 100%;
}

section#project nav#project{
    grid-area: nav;
}

section#project div#projectdescription{
    grid-area: desc;
    font-size: 25px;
    /* align-self: center; */
}

section#project li{
    display: inline;
}

section#project a {
    font-size: 30px;
}

section#project #media li img{
    width: 200px;
    height: 100px;
}

section#project #links {
    grid-area: links;
    height: 30px;
    /* justify-self: center; */
}

section#project #projectArticle{
    font-size: 20px;    
}

section#project #projectArticle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 720px;
    padding: 20px;
}