section#project div#overview{
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas: 
    "logo desc"
    "nav desc";
    grid-gap: 20px;
}

section#project div#projectlogo{
    grid-area: logo;
    justify-self: start;
}

section#project div#projectlogo img{
    width: 100%;
}

section#project nav#project{
    grid-area: nav;
}

section#project div#projectdescription{
    grid-area: desc;
    width: 100%;
}