section#project {
    display: grid;
    grid-gap: 10px;
}

/* Overview */
section#project div#overview{
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "logo links"
    "logo desc";
    grid-gap: 10px;
    text-align: justify;
}

section#project div#projectlogo{
    grid-area: logo;
    align-self: center;
}

section#project div#projectlogo img{
    width: 100%;
}

section#project nav#project{
    grid-area: nav;
}

section#project div#projectdescription{
    grid-area: desc;
}

section#project #projectArticle li{
    margin-left: 20px;
}

section#project a {
    font-size: 30px;
}

section#project #media li img{
    width: 200px;
    height: 100px;
}

section#project #projectArticle{
    text-align: justify;
}

section#project #projectArticle img {
    display: block;
    justify-self: center;
    max-width: 100%;
    margin: auto;
}