#showcase {
    display: grid;
    grid-gap: 25px;
}

#thumbnail {
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 250px;
    background-color: black;    
    /* height: 200px; */
}

#thumbnail #title {
    align-self: end;
    justify-self: end;
    line-height: 100%;
    text-shadow: 1px 1px 5px black, -1px -1px 5px black;
}

#thumbnail #logo{
    height: 90%;
    width: auto;
    justify-self: start;
    align-self: center;
    margin: 10px;
}

#thumbnail #logo img{
    height: inherit;
}