
{% if include.type.linkedin %}
<li class="inline"><a href="{{include.type.linkedin}}" target="_blank" title="{{include.type.linkedin}}"><img class="contactimg" src="{{site.baseurl}}/img/icons/linkin_ico-01.png" onmouseover="this.src='{{site.baseurl}}/img/icons/linkinb_ico-01.png';" onmouseout="this.src='{{site.baseurl}}/img/icons/linkin_ico-01.png';" alt="LinkedIn"></a></li>
{% endif %}

{% if include.type.website %}
<li class="inline"><a href="{{include.type.website}}" target="_blank" title="{{include.type.website}}"><img class="contactimg" src="{{site.baseurl}}/img/icons/web_ico-01-01.png" onmouseover="this.src='{{site.baseurl}}/img/icons/webb_ico-01-01.png';" onmouseout="this.src='{{site.baseurl}}/img/icons/web_ico-01-01.png';" alt="Website"></a></li>
{% endif %}

{% if include.type.artstation %}
<li class="inline"><a href="{{include.type.artstation}}" target="_blank" title="{{include.type.artstation}}"><img class="contactimg" src="{{site.baseurl}}/img/icons/art_ico-01-01.png" onmouseover="this.src='{{site.baseurl}}/img/icons/artb_ico-01-01.png';" onmouseout="this.src='{{site.baseurl}}/img/icons/art_ico-01-01.png';" alt="Website"></a></li>
{% endif %}

{% if include.type.cv %}
<li class="inline"><a href="{{site.baseurl}}{{include.type.cv}}" target="_blank" title="CV"><img class="contactimg" src="{{site.baseurl}}/img/icons/cv_ico-01.png" onmouseover="this.src='{{site.baseurl}}/img/icons/cvb_ico-01.png';" onmouseout="this.src='{{site.baseurl}}/img/icons/cv_ico-01.png';" alt="CV"></a></li>
{% endif %}

{% if include.type.mail %}
<li class="inline"><a href="mailto:{{include.type.mail}}" target="_top" title="{{include.type.mail}}"><img class="contactimg" src="{{site.baseurl}}/img/icons/mail_ico-01.png" onmouseover="this.src='{{site.baseurl}}/img/icons/mailb_ico-01.png';" onmouseout="this.src='{{site.baseurl}}/img/icons/mail_ico-01.png';" alt="Mail"></a></li>
{% endif %}

{% if include.type.twitter %}
<li class="inline"><a href="{{include.type.twitter}}" target="_blank" title="{{include.type.twitter}}"><img class="contactimg" src="{{site.baseurl}}/img/icons/twit_ico-01.png" onmouseover="this.src='{{site.baseurl}}/img/icons/twitb_ico-01.png';" onmouseout="this.src='{{site.baseurl}}/img/icons/twit_ico-01.png';" alt="Twitter"></a></li>
{% endif %}

{% if include.type.github %}
<li class="inline"><a href="{{include.type.github}}" target="_blank" title="{{include.type.github}}"><img class="contactimg" src="{{site.baseurl}}/img/icons/git_ico-01.png" onmouseover="this.src='{{site.baseurl}}/img/icons/gitb_ico-01.png';" onmouseout="this.src='{{site.baseurl}}/img/icons/git_ico-01.png';" alt="GitHub"></a></li>
{% endif %}

{% if include.type.gamelibrary %}
<li class="inline"><a href="{{include.type.gamelibrary}}" target="_blank" title="{{include.type.gamelibrary}}"><img class="contactimg" src="{{site.baseurl}}/img/icons/glib_ico-01.png" onmouseover="this.src='{{site.baseurl}}/img/icons/glibb_ico-01.png';" onmouseout="this.src='{{site.baseurl}}/img/icons/glib_ico-01.png';" alt="Game Library"></a></li>
{% endif %}

{% if include.type.icq %}
<li class="inline"><a href="{{include.type.icq}}" target="_blank" title="{{include.type.icq}}"><img class="contactimg" src="{{site.baseurl}}/img/icons/icq_ico-01.png" onmouseover="this.src='{{site.baseurl}}/img/icons/icqb_ico-01.png';" onmouseout="this.src='{{site.baseurl}}/img/icons/icq_ico-01.png';" alt="ICQ"></a></li>
{% endif %}

{% if include.type.telegram %}
<li class="inline"><a href="{{include.type.telegram}}" target="_blank" title="{{include.type.telegram}}"><img class="contactimg" src="{{site.baseurl}}/img/icons/teleg_ico-01.png" onmouseover="this.src='{{site.baseurl}}/img/icons/telegb_ico-01.png';" onmouseout="this.src='{{site.baseurl}}/img/icons/teleg_ico-01.png';" alt="Telegram"></a></li>
{% endif %}