---
layout: default
title: About
meta: description
---

<div id="wrapper">
        <div id="about">
                <p>
                        TREE BRANCH was originally founded in 2016 as Combine Studios. Then consisting of a group of likeminded swedish video game development students, from the ashes of that group of indie upstarts sprouted the seeds for TREE BRANCH.
                </p>
                <br>
                <p>
                        Our mission is to bring back the old-school tactical JRPG genre to the modern day world, integrating new
                        ways to play while sticking to the core concepts that worked back in the day.
                </p>
                <hr>
        </div>

        <section id="developers">
                <center>
                        <h2>Developers</h2>
                </center>

                {% for post in site.people %}
                <div id="person">
                        <div id="{% cycle 'left', 'right' %}">
                                <img id="portrait" src="{{site.baseurl}}{{post.logo}}">
                                <div id="description">
                                        <h2>{{post.title}}</h2>
                                        
                                        <div id="links">
                                                <ul>
                                                        <li class="inline"><a href="{{site.baseurl}}{{post.url}}"><img id="contact" src="{{site.baseurl}}/img/" onmouseover="this.src='{{site.baseurl}}/img/';" onmouseout="this.src='{{site.baseurl}}/img/';" alt="Portfolio"></a></li>
                                                        {% if post.linkedin %}
                                                        <li class="inline"><a href="{{post.linkedin}}" target="_blank"><img id="contact" src="{{site.baseurl}}/img/" onmouseover="this.src='{{site.baseurl}}/img/';" onmouseout="this.src='{{site.baseurl}}/img/';" alt="LinkedIn"></a></li>
                                                        {% endif %}
        
                                                        {% if post.twitter %}
                                                        <li class="inline"><a href="{{post.twitter}}" target="_blank"><img id="contact" src="{{site.baseurl}}/img/twit_ico.png" onmouseover="this.src='{{site.baseurl}}/img/twitb_ico.png';" onmouseout="this.src='{{site.baseurl}}/img/twit_ico.png';" alt="Twitter"></a></li>
                                                        {% endif %}
                                                        
                                                        {% if post.website %}
                                                        <li class="inline"><a href="{{post.website}}" target="_blank"><img id="contact" src="{{site.baseurl}}/img/" onmouseover="this.src='{{site.baseurl}}/img/';" onmouseout="this.src='{{site.baseurl}}/img/';" alt="Website"></a></li>
                                                        {% endif %}
                                                        
                                                        {% if post.cv %}
                                                        <li class="inline"><a href="{{post.cv}}" target="_blank"><img id="contact" src="{{site.baseurl}}/img/" onmouseover="this.src='{{site.baseurl}}/img/';" onmouseout="this.src='{{site.baseurl}}/img/';" alt="CV"></a></li>
                                                        {% endif %}                                                
                                                </ul>                                        
                                        </div>
                                        
                                        <p>{{post.content}}</p>

                                </div>
                                
                                
                        </div>
                </div>
                {% endfor %}
        </section>
</div>