/* Fonts */

@font-face {
    font-family: "Segoeuib";
    src: url("../font/segoeuib.ttf");
    /* src: 
    url("css/fonts/Harabara.woff") format("woff"),
    url("css/fonts/Harabara.otf") format("opentype"),
    url("css/fonts/Harabara.svg#filename") format("svg"); */
}

@font-face {
    font-family: "Lato-Hairline";
    src: url("../font/Lato-Hairline.ttf");
    /* src: 
        url("css/fonts/Harabara.woff") format("woff"),
        url("css/fonts/Harabara.otf") format("opentype"),
        url("css/fonts/Harabara.svg#filename") format("svg"); */
}

* {
    padding: 0;
    margin: 0;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Lato-Hairline', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.grid {
    background-color: #282828;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "title" "content" "footer";
}

section.dark {
    grid-area: dark;
    background-color: #171717;
}

section.dark2 {
    grid-area: dark2;
    background-color: #171717;
}


/* Header */

section.header {
    background-color: #171717;
    grid-area: header;
    min-height: 105px;
    padding: 0;
    margin: 0;
}

section.header a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoeuib';
}

section.header #current {
    color: #017e82;
}

section.header a:hover {
    color: white;
}

/* Navigation */
div#nav {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-areas: 
    "branding contact"
    "branding menu";
    align-self: end;
}

div#branding{
    grid-area: branding;
    position: relative;
    margin: 10px;
}

div#branding img {
    height: 140px;
    margin: 0;
    padding: 0;
}

div#menu {
    grid-area: menu;
    justify-self: end;
    
}

section.header li {
    display: inline;
    padding: 0 10px 0 10px;
}

div#contact {
    grid-area: contact;
    justify-self: end;
    margin: 10px;
}

div#contact img {
    height: 30px;
}

a#twitter:hover {
    height: 1000px;
}

.title {
    grid-area: title;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
    margin-right: 20px;
    justify-self: end;
    font-size: 6vw;

}

section.content {
    grid-area: content;
    min-height: 700px;
    font-size: 15px;
    overflow: hidden;
}

section.footer {
    grid-area: footer;
}

ul {
    padding: 0;
    margin: 0;
}

div.separator {
    border-bottom: #ffd452 5px solid;
    width: 80%;
    margin: auto;
}

footer {
    background-color: #171717;
    bottom: 0;
    margin-top: 20px;
}

footer li {
    display: inline;
    padding: 0 20px 0 20px;
}


/* News */

#news {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
}

#news article {
    position: relative;
    background: black;
    background-size: cover;
    background-position: center;
    height: 250px;
    vertical-align: bottom;
}

#news article h2 {
    position: absolute;
    bottom: -20px;
    right: 3px;
    margin: 0 0 0 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 55px;
    padding: 0;
    float: right;
}

#news a {
    color: white;
    text-decoration: none;
}

#games article {
    background-size: cover;
    background-position: center;
}

#games article img {
    display: block;
    margin: auto;
    height: 400px;
}

@media (min-width: 1200px) {
    .grid {
        background-color: #282828;
        display: grid;
        /* grid-template-rows: 1fr 1fr 4vh; */
        grid-template-columns: 20% 1fr 20%;
        grid-template-areas: 
        "dark header dark2" 
        ". title ." 
        ". content ." 
        "footer footer footer";
    }

    div#nav {
        display: grid;
        border-bottom: white 9px solid;
        grid-template-columns: 20% 1fr 1fr;
        grid-template-areas: 
        "branding menu contact";
        padding: 80px 0 0 0;
        align-self: end;
    }

    .title {
        grid-area: title;
        text-transform: uppercase;
        font-weight: normal;
        padding: 0;
        margin-right: 20px;
        margin-left: 200px;
        /* justify-self: center; */
        font-size: 3vw;
        margin-bottom: 20px;
    }

    div#branding img {
        height: 190px;
        position: absolute;
        margin: 0;
        padding: 0;
        top: -43px;
        left: -30px;
    }

    div#branding{
        position: relative;
        margin: 0;
    }

    div#menu {
        grid-area: menu; 
        justify-self: start;
        align-self: end;  
    }

    section.content {
        grid-area: content;
        min-height: 700px;
        font-size: 20px;
    }

	img#logooverlay {
		height: 95%;
		float: left;

	}





}