<!DOCTYPE HTML>
<html>

<head>
    <title>TREE BRANCH {% if page.title %} | {{page.title}} {% endif %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel=icon href={{site.baseurl}}/img/icon.png sizes="16x16" type="image/png">
    <meta name="description" content="{{page.meta}}">
    <meta name="keywords" content="keyword, keyword">
    <meta name="author" content="Tree Branch Studios">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css" />
</head>

<body>
    <header>
        {% include header.html %}
    </header>

    <section class="content">
        {{content}}
    </section>

    <footer>
        {% include footer.html %}
    </footer>
</body>
</html>