<!DOCTYPE HTML>
<html>

<head>
    <title>TREE BRANCH</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel=icon href=./img/icon.png sizes="16x16" type="image/png">
    <meta name="description" content="bla bla">
    <meta name="keywords" content="keyword, keyword">
    <meta name="author" content="Alexander Lövberg">
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <section class="grid">
        <section class="header">
            <nav>
                <div id="nav">

                    <div id="branding">
                        <img id="logo" src="./img/logo.png">
                    </div>

                    <div id="menu">
                        <ul>
                            <li><a href="{{site.baseurl}}/index.html">Home</a></li>
                            <li><a href="{{site.baseurl}}/about.html">About</a></li>
                            <li><a href="{{site.baseurl}}/games.html">Games</a></li>
                        </ul>
                    </div>

                    <div id="contact">
                        <ul>
                            <li><a href="twitter.com"><img id="contact" src="./img/twit_ico.png" onmouseover="this.src='./img/twitb_ico.png';" onmouseout="this.src='./img/twit_ico.png';"></a></li>
                            <li><a href="twitter.com"><img id="contact" src="./img/insta_ico.png"></a></li>
                            <li><a href="twitter.com"><img id="contact" src="./img/fb_ico.png"></a></li>
                            <li><a href="twitter.com"><img id="contact" src="./img/youtube_ico.png"></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>

        {{content}}

        <section class="footer">
                <footer>
                    <ul>
                        <li>Copyright &copy; 2017 Tree Branch</li>
                        <li>treebranch@treebranch.com</li>
                    </ul>
                </footer>
            </section>
    
            <section class="dark"></section>
            <section class="dark2"></section>
        </section>
    
    </body>
</html>