---
layout: default
---

<div id="wrapper">

<h1 class="title">/ {{page.title}}</h1>

<center>
        <img src="{{site.baseurl}}{{page.logo}}">
</center>

{{content}}

{% for post in site.pages %}
{{page.project}} <b>{{post.project}}</b>

        {% if post.type == "info" %}


                {% if page.project == post.project %}
        

                        <h1>{{post.title}}</h1>
                        <p>{{post.content}}</p>

                {% endif %}
        
        {% endif %}

{% endfor %}

</div>