---
layout: default
---

<div id="wrapper">

<h1 class="title">/ {{page.title}}</h1>

<section id="project">
        <div id="overview">
                <div id="projectlogo">
                        <center>
                                <img src="{{site.baseurl}}{{page.logo}}">
                        </center>
                </div>
                <div id="projectdescription">
                        {{content}}                                
                </div>
                <nav id="project">
                        {% for post in site.pages %}
                        {% if post.type == "info" and page.project == post.project %}

                        <ul>
                                <li>
                                        <a href="#{{post.title}}">{{post.title}}</a>
                                </li>
                        </ul>

                        {% endif %}
                        {% endfor %}
                </nav>

</div>

{% for post in site.pages %}
        {% if post.type == "info" and page.project == post.project %}
                <hr>
                <div id="{{post.title}}">
                        <center><h1>{{post.title}}</h1></center>
                        <p>{{post.content}}</p>
                </div>
        
        {% endif %}
{% endfor %}

</section>

</div>
